/*           
      /_ |          
 __   _| |_ __ _ __ 
 \ \ / / | '__| '__|
  \ V /| | |  | |   
   \_/ |_|_|  |_|   
Open-Source prohibited from copying and modifying project */

body{
    font-family: 'Sora', sans-serif;
    font-size:25px;
    background-color: black;
    color:white;
    padding:5px;
    user-select:none;
    max-width:1920px;
    max-height:18px;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow-x:hidden;
    overflow-y:hidden;
    user-select: none;
}

.text{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:10px;
    height:10px;
    padding:5px;
    text-align:center;
    margin:0 auto;
    text-shadow: 0px 5px 15px rgba(255, 255, 255, 255);
    font-family:"Vampiro One";
}

.text:hover{
    transform: translateY(5px) scale(1.2);
    transition:0.3s ease;
}

.info{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius:70px;
    border: 0px solid white;
    width:860px;
    height: 400px;
    padding:20px;  
}

.text_2{
    font-family:"Vampiro One";
    display:flex;
    text-align:left;
    flex-wrap:wrap;
}

.glowne{
    font-family: 'Chillax', sans-serif;
    display:flex;
    text-align:left;
    margin-left:50px;
    flex-direction:column;
    gap:0px;
}

.glowne p{
    margin:0;
    line-height:1.4;
}

#nickname{
    margin-bottom:4px;
}

#nickname:hover{
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 255);
    transition:0.2s ease;
}

#profile_picture{
    height:150px;
    display:inline-block;
    position:relative;
    border-radius:50%; 
    width:160px; 
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
}

#badge {
    position: absolute;
    left: 500px;
    height:180px;
    top: 250px;
    width: 200px;
    z-index: 10;
}



.opis{
    font-family: "Chillax", sans-serif;
}


.Page{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    padding:5px;
    text-align:center;
    margin:0 auto;
}



.sound_control{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    position:absolute;
    text-align:center;
    left:20px;
    justify-content: center;
    border-radius:70px;
    border: 0px solid white;
    box-shadow: 0px 0px 30px rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.07);
    width:30px;
    height: 10px;
    padding:20px;
    top:10px;
}

.sound_control:hover{
    transform: scale(1.05);
    transition:0.3s ease;
}

.controls:hover{
    border:2px solid;
    width: 100px;
    height: 1px;
}

.vol-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s ease;
}

.vol-icon:active {
    transform: scale(0.85);
}

#enter_screen {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 99999;
    transition: opacity 0.6s ease;
}

#enter_text {
    color: white;
    font-size: 40px;
    font-family: "Vampiro One", sans-serif;
}

#enter_text:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

#discord_prfl{
    height:70px;
    display:inline-block;
    position:relative;
    border-radius:30%; 
    width:70px; 
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
    right:100px;
    top:10px;
}

.discord{
    border:2px solid rgba(255, 255, 255, 0.09);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
    position:relative;
    display:inline-block;
    width:300px;
    top:20px;
    height:100px;
    border-radius:40px;
    align-items:left;
}



#dcStatus{
    display:inline-block;
    position:absolute;
    right:158px;
    bottom:40px;
    font-size:80%;
    color:rgba(255, 255, 255, 0.5);
    font-family: sans;
}


#usr{
    display:inline-block;
    position:absolute;
    right:170px;
    bottom:40px;
    font-family: arial;
    font-size:87%;
}

#usr{
    display:inline-block;
    position:absolute;
    right:170px;
    bottom:40px;
    font-family: arial;
    font-size:87%;
}

#coto{
    display:inline-block;
    position:absolute;
    right:20px;
    bottom:60px;
    font-size:50%;
    color:rgba(255, 255, 255, 0.5);
    font-family: Arial;
}

#discord_icon{
    display:inline-block;
    position:absolute;
    right:65px;
    top:9px;
    height:23px;
    width:23px;
    color:rgba(255, 255, 255, 0.5);
    font-family: Arial;
}

#coto:hover{
    color:white;
    transition:0.7s ease;
}

#kopiuj{
    border-radius: 50px;
    border:0px;
    display:inline-block;
    position:absolute;
    height:25px;
    width:70px;
    right:140px;
    bottom:10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 255);
}

#kopiuj:active{
    transform:scale(0.97);
    transition:0.1s ease;
}

#copyText{
    display:none;
}

#tooltip{
    border-radius: 20px;
    border: 1px solid rgb(30, 30, 30);
    display:inline-block;
    position:absolute;
    right:80px;
    width:150px;
    bottom:-50px;
    color:black;
    font-size:50%;
    transition:0.3s ease;
    background-color: rgb(0, 0, 0);
    opacity:0;
    color:white;
}




.statusy{
    display:flex;
    flex-wrap:wrap;
}

.spotify{
    border:2px solid rgba(255, 255, 255, 0.09);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
    position:relative;
    display:inline-block;
    width:300px;
    left:200px;
    top:20px;
    height:100px;
    border-radius:40px;
    align-items:left;
    text-align:center;
}

#spotify_icon{
    height:70px;
    display:inline-block;
    position:relative;
    border-radius:30%; 
    width:70px; 
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
    right:100px;
    top:10px;
    z-index:10;
    display:none;
}



#spotifyText{
    display:inline-block;
    position:absolute;
    right:10px;
    bottom:20px;
    font-family: arial;
    font-size:60%;
}

#spotify_tytul{
    display:inline-block;
    position:absolute;
    right:112px;
    bottom:50px;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 255);
    font-family: arial;
    font-size:70%;
}

#spotify_tytul:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 255);
    transform: scale(1.05);
    transition:0.3s ease;
}

#namemc{
    height:50px;
    width:50px;
    background-color: white;
    border-radius:10px;
    display:inline-block;
    position:absolute;
    top:560px;
    right:1050px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 255);
}

#namemc:active{
    transform:scale(0.95);
    transition:0.2s ease;
}

#namemc:hover{
    transform:scale(1.1);
    transition:0.3s ease;
}

#spotified{
    height:50px;
    width:50px;
    background-color: ;
    border-radius:150px;
    display:inline-block;
    position:absolute;
    top:560px;
    right:880px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 255);
}

#spotified:hover{
    transform:scale(1.1);
    transition:0.3s ease;
}



/* ADDITIONS */

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}